
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
html {
  font-size: 62.5%;
}
body{
  font-family:'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar {
  height: 7vh;
  padding: 2rem 10rem;
  background-color: #4f88ff;
  color: white;
  font-size: 24px;
}
.meme-brand {
  font-weight: 700;
}
