.meme-selection {
    width: 35rem;
}
.meme-search {
    background: #fff;
    
    width: 100%;

border: 1px solid #7C7C7C;
box-sizing: border-box;
border-radius: 5px;
color: grey;
padding: .75rem .5rem;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #606060;
box-shadow: 0 8px 18px rgba(41,48,57,.7);
margin-bottom: 1rem;
}
.image-gallery {
    padding: 5rem;
    background-color: #293039;
    height: 100vh;
    overflow-y: scroll;
}
.image-editor {
    
}
.meme-wrap {
    display: flex;
    justify-content: space-between;

}
.selected-image {
    border: 1px solid #293039;
}
