.meme-selection {
    width: 35rem;
}
.meme-search {
    background: #fff;
    
    width: 100%;

border: 1px solid #7C7C7C;
box-sizing: border-box;
border-radius: 5px;
color: grey;
padding: .75rem .5rem;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #606060;
box-shadow: 0 8px 18px rgba(41,48,57,.7);
margin-bottom: 1rem;
}
.image-gallery {
    padding: 3rem;
    background-color: #293039;
    height: 100vh;
    overflow-y: scroll;
}
.image-editor {
    flex-grow: 1;
}
.meme-display {
    margin: 10rem;
    margin-bottom: 0;
    background: white;
    padding: 10%;
}
.meme-center {
    margin: 0 auto;
    width: fit-content;
}
.meme-wrap {
    display: flex;
    justify-content: space-between;
}
.selected-image {
    border: 1px solid #293039;
}
.meme-center {
    max-width: 40rem;
    width: fit-content;
}
.meme-chosenImage {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.meme-chosenImage.text-below {
    flex-direction: column-reverse;
}
.meme-chosenImage img{
    max-width: 40rem;
    margin: 0 auto;
    width: fit-content;
    width: -webkit-fill-available;
}
.text-middle {
    position: absolute;
    z-index: 10;
    left: 2rem;
    right: 2rem;
    top: 6px;
}
#meme-text-top, #meme-text-bottom {
    font-family: impact;
    overflow-wrap: break-word;
    min-height: 4rem;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}
#meme-text-bottom {
    position: absolute;
    z-index: 10;
    left: 2rem;
    right: 2rem;
    bottom: 6px;
}
.meme-toolbar {

}
.meme-desc-top, .meme-desc-bottom {
    background: #fff;
    
    width: 100%;

border: 1px solid #7C7C7C;
box-sizing: border-box;
border-radius: 5px;
color: grey;
padding: .75rem .5rem;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 200%;
line-height: 33px;
color: #606060;
margin-top: 2rem;
}
